<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="cadastrar" appconnect="local" components="{dmxBootstrap5Modal:{},dmxBootstrap5Navigation:{},dmxValidator:{},dmxNotifications:{},dmxTyped:{},dmxStateManagement:{}}" style="" class="style9" -->
<dmx-query-manager id="queryCadastrar"></dmx-query-manager>
<dmx-notifications id="notifies1"></dmx-notifications>
<div class="container mt-5" style="max-width: 500px;">
    <form method="post" dmx-generator="bootstrap5" dmx-form-type="vertical" is="dmx-serverconnect-form" id="frmCadastrar" action="/api/auth/user_registration" dmx-on:success="mainNotifications.success('Cadastro realizado.');mainBrowser.goto('/',true);scUserLoggedin.load({})">
        <input id="inp_cadastrar_code" name="code" type="hidden" readonly="true" required="" data-msg-required="Obrigatório." dmx-bind:value="queryCadastrar.data.code">
        <h1 class="fw-light lead">Concluir cadastro</h1>
        <div class="form-group mb-3">
            <label for="inp_cadastrar_email">E-mail</label>
            <input type="email" class="form-control" id="inp_cadastrar_email" name="email" aria-describedby="inp_email_help" dmxorgdomid="d20" required="" data-msg-required="Obrigatório." data-rule-email="true" data-msg-email="Email inválido." readonly="true" dmx-bind:value="query.email">
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="inp_cadastrar_nome">Nome</label>
                    <input type="text" class="form-control" id="inp_cadastrar_nome" name="firstname" aria-describedby="inp_nome_completo_help" dmxorgdomid="d16" required="" data-msg-required="Obrigatório.">
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="inp_cadastrar_sobrenome">Sobrenome</label>
                    <input class="form-control" id="inp_cadastrar_sobrenome" name="lastname" aria-describedby="inp_nome_completo_help" dmxorgdomid="d16" required="" data-msg-required="Obrigatório.">
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-12 col-sm-6">
                <div class="form-group mb-3">
                    <label for="inp_cadastrar_senha">Senha</label>
                    <input type="password" class="form-control" id="inp_cadastrar_senha" name="password" aria-describedby="inp_senha_help" dmxorgdomid="d24" required="" data-msg-required="Obrigatório.">
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="inp_cadastrar_confirmar_senha">Confirmar Senha</label>
                    <input type="password" class="form-control" id="inp_cadastrar_confirmar_senha" name="password2" aria-describedby="inp_confirmar_senha_help" dmxorgdomid="d28" required="" data-msg-required="Obrigatório." data-rule-equalto="cadastrar_senha" data-msg-equalto="As senhas não correspondem.">
                </div>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <button id="btn_cadastrar" class="btn btn-primary" type="submit">Cadastrar</button>
        </div>


    </form>
</div>


<meta name="ac:route" content="/cadastrar">