<!-- Wappler include head-page="layouts/main" is="dmx-app" id="perfil" appconnect="local" fontawesome_5="cdn" components="{dmxBootbox5:{},dmxTyped:{},dmxBootstrap5Modal:{},dmxSummernote:{}}" jquery_slim_35="cdn" bootstrap4="cdn" -->

<meta name="ac:route" content="/perfil">
<div class="container" style="">
    <div class="row mb-5">
        <div class="col mb-5">
            <h1 class="text-start fw-light lead align-self-center mt-5 mb-0">Perfil</h1>







        </div>
    </div>
</div>