<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="sobre" appConnect="local" components="{dmxRouting:{},dmxDataTraversal:{}}" -->
<meta name="ac:route" content="/sobre">
<div class="container mt-3">
    <div class="d-flex justify-content-between flex-row-reverse mb-3">
        <a href="https://github.com/hlcurzio/projeto-final" target="_blank" style="cursor: pointer;"><img src="/assets/github.png" width="150"></a>
    </div>
    <div class="row">
        <div class="col">


            <p class="mb-0 fw-light text-center">Universidade de Brasília</p>
            <p class="mb-0 fw-light text-center">Instituto de Ciências Exatas</p>
            <p class="fw-light text-center">Departamento de Ciência da Computação</p>


            <p class="fw-normal mb-0 text-center">Proposta de aplicação Web para auxílio de estudantes&nbsp;<span style="background-color: var(--bs-body-bg); color: var(--bs-body-color); font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size);">com deficiência e promoção de acessibilidade</span></p>
            <p class="fw-lighter small lh-sm text-center">Monografia apresentada como requisito parcial para conclusão do Curso de Engenharia da Computação</p>
            <p class="fw-light text-center">Orientador Prof. Dr. Daniel de Paula Porto&nbsp;<a class="btn btn-sm btn-outline-secondary" target="_blank" href="https://www.cic.unb.br/professores/132-daniel-de-paula-porto"><i class="fas fa-external-link-alt"></i></a></p>

            <h2 class="fw-light lead mt-5">Henrique Lopes Curzio</h2>
            <p>A nice paragraph</p>
            <a href="/assets/TCC.pdf" class="btn btn-primary" target="_blank">Monografia</a>

        </div>
    </div>
</div>
<meta name="ac:route" content="/sobre">